*.o
*.x
*.a
*.so
*.root
*Dict.cpp
*Dict.h
*dict.cc
*dict.h
*~
*.log
*.kate-swp
*.kdev*
*.exe

# CMake specific files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
.ninja_*
*.ninja

# output files
/*Test
/*.so
/*.dylib
/*.cbp
